body {
    background-image: url("/airline/images/gradientBack.jpg");
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
.regTitle{
    background-size: cover;
    background-repeat: no-repeat;
    padding:  max(20px, 2.8vw) 0;
    color:#323361 ;
    position: relative;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(112,112,112,1);
    border-radius: 1px;
  }
  body::-webkit-scrollbar-thumb {
    background-color:  #323361;
    border-radius: 1px;
  }



